@import url("http://fonts.cdnfonts.com/css/sansation");
@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact-container {
  background-image: url(images/bg.svg.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right {
  width: 360px;
  background: #000000;
  border-radius: 25px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: "Sansation", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #5fc1e8e3;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: 120px;
  margin: 20px auto;
}

.form-container {
  width: 100%;
}

.email, .password {
  position: relative;
  margin-bottom: 20px;
}

input[type="email"],
input[type="password"] {
  border: none;
  outline: none;
  background: none;
  font-size: 18px;
  color: hsla(200, 85%, 68%, 0.89);
  padding: 10px 10px 10px 40px;
  border: 2px solid #5fc1e8e3;
  width: calc(100% - 50px);
  height: 45px;
  margin: 0;
  border-radius: 25px;
  box-sizing: border-box;
  text-align: left;
  overflow: hidden;
  font-family: "Scheherazade New", serif;
}

::placeholder {
  color: #5fc1e8e3;
  font-size: 18px;
}

input[type="checkbox"] {
  vertical-align: middle;
  margin-right: 5px;
  font-weight: bold;
}

.keepme {
  margin: 15px;
  color: #5fc1e8e3;
  font-family: "Scheherazade New", serif;
  font-weight: bold;
}

button {
  width: 100%;
  height: 45px;
  font-family: "Sansation", sans-serif;
  font-weight: bold;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
  border: none;
  background: #7fdf59e3;
  border-radius: 25px;
  margin-top: 10px;
}

.link {
  display: block;
  margin-top: 15px;
  color: #5fc1e8e3;
  font-family: "Scheherazade New", serif;
  font-weight: bold;
  text-decoration: none;
}

@media only screen and (max-width: 700px) {
  .contact-container {
    background: linear-gradient(138.56deg, #318adc 23.44%, #88183a 89.5%);
  }
  .right {
    width: 90%;
    padding: 20px;
  }
}
